 @media (max-width: $screen-md-max) {
     // Desktop
     .nav_highlight{
         right:70px;
     }
     .inside_b4 .b4_flotimg{
         width:480px;
     }
     .b7_bike {
    left: -30px;
    }
    .bikeslider2 img {
    width: 160px;
    height: 160px;
    margin: 0 30px;
}
 }