<div class="home" scroll-animation>
    <div id="overview" class="b1 block gray-bg">
        <!-- <div class="anime1">
            <div class="redanime">anime</div>
        </div> -->
        <div class="inside_b1 container-fluid">
            <div class="blade1 cust-transition">
                <img class="img1 img-responsive" src="img/background/blade1.png">
            </div>
            <div class="h">OVERVIEW
            </div>
            <hr>
            <div class="row b1_divide">
                <div class="b1_img col-md-7 col-sm-7 col-xs-12">
                    <!--<img src="img/b1-car.png" class="img-responsive rel front">-->
                    <class="img-responsive rel front" ng-repeat="i in overviewData track by $index"><img ng-src="{{i.img|uploadpath}}">
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="b1-txt fnt" ng-repeat="text in overviewData track by $index">{{text.description}}</div>
                    <!--<div class="b1-txt fnt"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget arcu eget lacus congue rutrum ac id
                        maassa. Duis sed euismod risus. Fusce quis luctus enim. Curabitur posuere metus vel turpis rhoncus
                        bibendum. In porttitor purus et d risus. Fusce quis luctus enim. Curabitur posuere metus vel turpis
                        rhoncus bibendum. In porttitor purus et condimentum elementum. Nam ex dui, vehicula et pellentesque
                        et, fermentum id velit. Nam vitae nisl id nibh sodales tincidunt et vel magna. Mauris ultricies quam
                        quam, sed auctor lorem dignissim ut. Ut efficitur eros ut diam fermentum cursus. condimentum elementum.
                        Nam ex dui, vehicula et pellentesque et, fermentum id velit. Nam vitae nisl id nibh sodales tincidunt
                        et vel magna. Mauris ultricies quam quam, sed auctor lorem dignissim ut. Ut efficitur eros ut diam
                        fermentum cursus. Nam</div>-->
                    <!--<div class="pull-right more-btn">MORE</div>-->
                </div>
            </div>
        </div>
    </div>
    <div id="award" class="b2 block1 backimg1 container-fluid rel">
        <!-- animation -->
        <!-- <div class="anime2">
            <div class="redanime2">anime</div>
        </div> -->
        <div class="inside_b2 ">
            <div class="text-center h side_hr"><span>VIEWERS AWARDS CATEGORY</span></div>
            <div class="sliderbike1">
                <swiper autoplay="5000" effect="slide" slides-per-view="3" loop="true">
                    <slides>
                        <slide ng-repeat="s in mySlides track by $index">
                            <div>
                                <img ng-src="{{s.img|uploadpath}}" class="img-full middle-img" noloading="true">
                                <img ng-src="{{s.imgsmall|uploadpath}}" class="img-full not-middle" noloading="true">
                                <div class="bike-name">{{s.name}}</div>
                            </div>
                        </slide>
                    </slides>
                    <prev></prev>
                    <next></next>
                    <pagination></pagination>
                </swiper>
            </div>
        </div>
    </div>
    <div class="blade2 cust-transition">
        <img class="img1 img-responsive" src="img/background/blade2.png">
    </div>
    <div id="socialmedia" class="b3 block1 block-lrg gray-bg container-fluid">
        <div class="inside_b3">
            <div class="h left-h">SOCIAL MEDIA</div>
            <hr class="left-hr">
            <div class="row feed_div">
                <div class="col-md-4 col-sm-4">
                    <div class="text-center socialblock">
                        <div class="icon"> <img src="img/icon/facebook.png" class="img-responsive"> </div>
                        <div class="feed">
                            <!-- <img src="img/icon/1.png" class="img-responsive"> -->
                            <iframe src="https://www.facebook.com/v2.10/plugins/page.php?adapt_container_width=false&app_id=113869198637480&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fp0HGCYXNu7N.js%3Fversion%3D42%23cb%3Df21609b5293b20c%26domain%3Ddevelopers.facebook.com%26origin%3Dhttps%253A%252F%252Fdevelopers.facebook.com%252Ff1c0dc69f0a7d28%26relation%3Dparent.parent&container_width=613&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2Foverdrive.ie%2F&locale=en_US&sdk=joey&show_facepile=true&small_header=true&tabs=timeline"
                                width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"
                                class="social_frame"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="text-center socialblock">
                        <div class="icon"> <img src="img/icon/twitter.png" class="img-responsive"> </div>
                        <div class="feed">
                            <!-- <img src="img/icon/2.jpg" class="img-responsive"> -->
                            <a class="twitter-timeline social_frame" data-width="350" data-height="400" href="https://twitter.com/odmag?ref_src=twsrc%5Etfw">Tweets by odmag</a>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="text-center socialblock">
                        <div class="icon"> <img src="img/icon/instagram.png" class="img-responsive"> </div>
                        <div class="feed">
                            <img src="img/icon/3.png" class="img-responsive social_frame">
                            <!-- <iframe src="https://www.instagram.com/odmag/" width="300" height="500"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="games" class="b4 block1  blockb4-tab backimg2 container-fluid">
        <div class="inside_b4">
            <div class="h side_hr text-center"><span>Games</span></div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="fnt b4-txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sapien eget dolor porttitor viverra. Vivamus volutpat quis
                        quam eu aliquet. Nulla aliquet, arcu ac consectetur volutpat, orci erat pretium lorem, eu cursus
                        magna velit eu elit. Nam vitae tempus mauris, ut faucibus mauris. Sed pretium dapibus tortor, eget
                        semper massa facilisis ac. Aenean consequat sapien id saapien consectetur facilisis. Suspendisse
                        vel lorem in magna interdum accumsan. Duis enim odio, feugiat sit amet quam ut, sagittis volutpat
                        ligula. In bibendum ante sed magna vehicula ullamcorper. Fusce mattis non velit sit amet maximus.
                        Nullam sed fermentum mi.</div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="b4_racetext"><img src="img/letsrace.png" class="img-responsive b4_img_text"></div>
                    <div class="b4_flotimg">
                        <img src="img/car2.png" class="smoke_car">
                        <img src="img/gif/smoke.gif" class="img-responsive smoke">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="jurors" class="b5 block-min gray-bg rel over-hidden container-fluid">
        <div class="inside_b5">
            <div class="blade3 cust-transition">
                <img class="img1 img-responsive" src="img/background/blade2.png">
            </div>
            <div class="h left-h"> JURORS</div>
            <hr class="left-hr">
            <!--<div class="text-left fnt b5_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet arcu id lacus aliquam imperdiet. Vestibulum ante
                ipsum primis in faucibus orci luctus et ultrices posuere cubilia Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Vivamus imperdiet arcu id lacus aliquam imperdiet. Vestibulum ante ipsum primis in faucibus
                orci
            </div>-->
            <div class="text-left fnt b5_text showDscription">
              {{selectedDescription}}
            </div>
            <div class="row text-right b5_slider">
                <swiper autoplay="5000" effect="slide" slides-per-view="3" loop="true">
                    <slides>
                        <slide ng-repeat="s in slider_profile track by $index">
                            <div>
                                <li ng-click="changeDescription(s)">
                                <img ng-src="{{s.img|uploadpath}}" class="profile_slider_img img-responsive" noloading="true"></li>
                                <div class="pro_name">{{s.name}}</div>
                            </div>
                        </slide>
                    </slides>
                    <prev></prev>
                    <next></next>
                    <pagination></pagination>
                </swiper>
            </div>
        </div>
    </div>
    <div class="blade4 cust-transition">
        <img class="img1 img-responsive" src="img/background/blade3.png">
    </div>
    <div id="winnner" class="b6 block-min block6-tab backimg1 container-fluid">
        <div class="inside_b6">
            <div class="text-center h side_hr"><span>WINNERS 2016</span></div>
            <div class="bikeslider2">
                <swiper autoplay="5000" effect="slide" slides-per-view="4" loop="true">
                    <slides>
                        <slide ng-repeat="s in myWinner track by $index">
                             
                            <div class="flipDiv">
                                <div class="b6-bike-name">{{s.name}}</div>
                                <figure>
                                    <div class="front">
                                       
                                        <img ng-src="{{s.img|uploadpath}}" class="img-responsive " noloading="true">
                                    </div>
                                    <figcaption>
                                        <div class="descrip">
                                            <p class="text-center">
                                              Description
                                            </p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </slide>
                    </slides>
                    <prev></prev>
                    <next></next>
                    <pagination></pagination>
                </swiper>
            </div>
        </div>
    </div>
    <div id="gallery" class="b7 block1 gray-bg container-fluid">
        <div class="inside_b7">
            <div class="h text-right right-h"> GALLERY</div>
            <hr class="right-hr">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12 hide-xs"><img src="img/bike1.png" class="img-responsive b7_bike"></div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <uib-tabset active="active" class="custom-tab">
                        <uib-tab index="$index" ng-repeat="tab in gallerytabs track by $index" heading="{{tab.title}}" disable="tab.disabled">
                            <!-- <div ng-repeat="pic in tab.gallery track by $index">
                                <div ng-if="$index<6" class="col-md-4 col-sm-4 col-xs-6 tab-pd"><img class="img-responsive gallery_img" ng-src="{{pic}}">
                                </div>
                            </div> -->
                            <div class="swiper-container1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url({{pic}})" ng-repeat="pic in tab.gallery track by $index">
                                        <img class="img-responsive gallery_img" ng-src="{{pic}}">
                                    </div>
                                </div>
                                <div class="swiper-button-prev hidden-sm hidden-xs"></div>
                                <div class="swiper-button-next hidden-sm hidden-xs"></div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="text-right more-btn2">VIEW MORE </div>
                </div>
            </div>
        </div>
    </div>
    <div id="partner" class="b8 block  backimg1 blockb8-tab -container-fluid rel">
        <div class="container">
            <div class="inside_b8">
                <div class=" text-center h side_hr"><span>PARTNERS</span></div>
                <div class="partner-img">
                    <!--<div class="row">
                        <div class="col-md-6">
                            <div class="round-img">
                                <img src="img/partner/CNBC logo.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="round-img">
                                <img src="img/partner/CNBC logo.png" class="img-responsive">
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-md-6" ng-repeat="s in partners track by $index" >
                            <div class="round-img" >
                                <img ng-src="{{s.logo|uploadpath}}" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>