<div class="home">
    <div class="b1 block gray-bg">
        <div class="inside_b1 container-fluid">
            <div class="h">OVERVIEW
            </div>
            <hr>
            <div class="row b1_divide">
                <div class="b1_img col-md-7 col-sm-7 col-xs-7">
                    <img src="img/b1-car.png" class="img-responsive">
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="b1-txt fnt"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget arcu eget lacus congue rutrum ac id
                        maassa. Duis sed euismod risus. Fusce quis luctus enim. Curabitur posuere metus vel turpis rhoncus
                        bibendum. In porttitor purus et d risus. Fusce quis luctus enim. Curabitur posuere metus vel turpis
                        rhoncus bibendum. In porttitor purus et condimentum elementum. Nam ex dui, vehicula et pellentesque
                        et, fermentum id velit. Nam vitae nisl id nibh sodales tincidunt et vel magna. Mauris ultricies quam
                        quam, sed auctor lorem dignissim ut. Ut efficitur eros ut diam fermentum cursus. condimentum elementum.
                        Nam ex dui, vehicula et pellentesque et, fermentum id velit. Nam vitae nisl id nibh sodales tincidunt
                        et vel magna. Mauris ultricies quam quam, sed auctor lorem dignissim ut. Ut efficitur eros ut diam
                        fermentum cursus. Nam</div>
                    <div class="pull-right more-btn">MORE</div>
                </div>
            </div>

        </div>
    </div>
    <div class="b2 block backimg1 container-fluid ">
        <div class="inside_b2 ">
            <div class="text-center h side_hr"><span>AWARDS CATEGORY</span></div>
            <div class="sliderbike1">
                <swiper autoplay="5000" effect="slide" slides-per-view="3" loop="true">
                    <slides>
                        <slide ng-repeat="s in mySlides">
                            <div>
                                <img ng-src="{{s.url}}" class="img-full" noloading="true">
                                <div class="bike-name">{{s.name}}</div>
                            </div>
                        </slide>
                    </slides>
                    <prev></prev>
                    <next></next>
                    <pagination></pagination>
                </swiper>
            </div>
        </div>
    </div>
    <div class="b3 block1 gray-bg container-fluid">
        <div class="inside_b3">
            <div class="h left-h">SOCIAL MEDIA</div>
            <hr class="left-hr">
            <div class="row feed_div">
                <div class="col-md-4">
                    <div class="text-center socialblock">
                        <div class="icon"> <img src="img/icon/facebook.png" class="img-responsive"> </div>
                        <div class="feed"> <img src="img/icon/1.png" class="img-responsive"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center socialblock">
                        <div class="icon"> <img src="img/icon/twitter.png" class="img-responsive"> </div>
                        <div class="feed"> <img src="img/icon/2.jpg" class="img-responsive"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center socialblock">
                        <div class="icon"> <img src="img/icon/instagram.png" class="img-responsive"> </div>
                        <div class="feed"> <img src="img/icon/3.png" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b4 block1  backimg2 container-fluid">
        <div class="inside_b4">
            <div class="h side_hr text-center"><span>Games</span></div>
            <div class="row">
                <div class="col-md-5">
                    <div class="fnt b4-txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sapien eget dolor porttitor viverra. Vivamus volutpat quis
                        quam eu aliquet. Nulla aliquet, arcu ac consectetur volutpat, orci erat pretium lorem, eu cursus
                        magna velit eu elit. Nam vitae tempus mauris, ut faucibus mauris. Sed pretium dapibus tortor, eget
                        semper massa facilisis ac. Aenean consequat sapien id saapien consectetur facilisis. Suspendisse
                        vel lorem in magna interdum accumsan. Duis enim odio, feugiat sit amet quam ut, sagittis volutpat
                        ligula. In bibendum ante sed magna vehicula ullamcorper. Fusce mattis non velit sit amet maximus.
                        Nullam sed fermentum mi.</div>
                </div>
                <div class="col-md-7">
                    <div class=""><img src="img/letsrace.png" class="img-responsive b4_img_text"></div>
                    <img src="img/car2.png" class="smoke_car"></div>
            </div>
        </div>
    </div>
    <div class="b5 block-min gray-bg  container-fluid">
        <div class="inside_b5">
            <div class="h left-h"> JURORS</div>
            <hr class="left-hr">
            <div class="text-left fnt b5_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet arcu id lacus aliquam imperdiet. Vestibulum ante
                ipsum primis in faucibus orci luctus et ultrices posuere cubilia Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Vivamus imperdiet arcu id lacus aliquam imperdiet. Vestibulum ante ipsum primis in faucibus
                orci
            </div>
            <div class="row text-right b5_slider">
                <swiper autoplay="5000" effect="slide" slides-per-view="4" loop="true">
                    <slides>
                        <slide ng-repeat="s in slider_profile">
                            <div>
                                <img ng-src="{{s.url}}" class="profile_slider_img img-responsive" noloading="true">
                                <div class="pro_name">{{s.name}}</div>
                            </div>
                        </slide>
                    </slides>
                    <prev></prev>
                    <next></next>
                    <pagination></pagination>
                </swiper>
            </div>
        </div>
    </div>
    <div class="b6 block-min  backimg1 container-fluid">
        <div class="inside_b6">
            <div class="text-center h side_hr"><span>WINNERS 2016</span></div>
            <div class="bikeslider2">
                <swiper autoplay="5000" effect="slide" slides-per-view="4" loop="true">
                    <slides>
                        <slide ng-repeat="s in myWinner">
                            <div>
                                <img ng-src="{{s.url}}" class="img-responsive " noloading="true">
                                <div class="bike-name">{{s.name}}</div>
                            </div>
                        </slide>
                    </slides>
                    <prev></prev>
                    <next></next>
                    <pagination></pagination>
                </swiper>
            </div>
        </div>
    </div>
    <div class="b7 block1 gray-bg container-fluid">
        <div class="inside_b7">
            <div class="h text-right right-h"> GALLERY</div>
            <hr class="right-hr">
            <div class="row">
                <div class="col-md-5 col-xs-5"><img src="img/bike1.png" class="img-responsive b7_bike"></div>
                <div class="col-md-7 col-xs-7">


                    <uib-tabset active="active" class="custom-tab">
                        <uib-tab index="$index" ng-repeat="tab in gallerytabs" heading="{{tab.title}}" disable="tab.disabled">
                            <div ng-repeat="pic in tab.gallery">
                                <div ng-if="$index<6" class="col-md-4 col-xs-4 tab-pd"><img class="img-responsive gallery_img" ng-src="{{pic}}">
                                </div>
                            </div>

                        </uib-tab>
                    </uib-tabset>
                    <div class="text-right more-btn2">VIEW MORE </div>
                </div>
            </div>

        </div>
    </div>
    <div class="b8 block  backimg1 container-fluid">
        <div class="inside_b8">
            <div class=" text-center h side_hr"><span>PARTNERS</span></div>
            <div class="b8_div"><img src="img/partner.png" class="img-responsive"></div>
        </div>


    </div>
    <div class="b9 block container-fluid">
        <div class="inside_b9">

        </div>
    </div>
</div>