<div class="backimg1 container-fluid block-nomination">
<div class="container">
       <!--<div class="pull-left">
            <img src="img/slider/1_old.png" class="img-responsive">
        </div>-->
    <div class="nominations-heading">
        <div>
        <div class="h text-right right-h">NOMINATIONS</div>
        <hr class="right-hr">
        </div>
    </div>
    <div class="container">
        <div class="nomination-section">
        <div class="row">
            <div class="col-md-3">
                <div class="wheel">
                    <img src="img/nomination/wheel.png" class="img-responsive">
                    <div class="nomini-name">
                        <p class="text-center">carkkkkk</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <img src="img/nomination/wheel.png" class="img-responsive">
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <img src="img/nomination/wheel.png" class="img-responsive">
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <img src="img/nomination/wheel.png" class="img-responsive">
                </div>
            </div>
        </div>
      
        </div>
          <div class="submit-btn text-center">
            <button>SUBMIT</button>
        </div>
    </div>
</div>
</div>