<div class="backimg1 container-fluid block-nomination">
    <div class="row">
        <!--<div class="col-md-4">
            <img src="img/slider/1-m.png" class="img-responsive">
        </div>-->
        <div class="col-md-4">
            <div class="vehicle-size">
            <img ng-src="{{singleCatData.img|uploadpath}}" class="img-responsive">
            </div>
            <div class="vehicle-name text-center">
                <p>{{singleCatData.name}}</p>
            </div>
        </div>

        <div class="col-md-8">
            <div class="nominations-heading">
                <div class="text-right">
                    <p>NOMINATIONS</p>
                </div>
                <hr class="right-nomination">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="nomination-section">
                <div class="row">
                    <div class="col-md-3" ng-repeat="s in Nomination track by $index">
                        <div class="nomination-flip" >
                                  <div class="flipDiv" ng-class="class[$index]">
                                <figure>
                                    <div class="front">
                                        <div class="wheel">
                                            <img src="img/nomination/wheel.png" class="img-responsive">
                                            <div class="nomini-name">
                                                <p class="text-center text-uppercase">{{s.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <div class="descrip"> 
                                          <img src="{{s.imgback|uploadpath}}" class="img-responsive">
                                        </div>
                                    </figcaption>
                                </figure>
                                <!--<div class="b6-bike-name text-center">
                                    <input type="radio" name="abc" ng-click="changeClass($index)" required="">
                                </div>-->
                                <div class="b6-bike-name  text-center radio-pointer">
                                    <input type="radio" name="abc" ng-click="changeCompany(s._id,$index)" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3">
                        <div class="wheel">
                            <img src="img/nomination/wheel.png" class="img-responsive">
                            <div class="nomini-name">
                                <p class="text-center">scooter</p>
                            </div>
                        </div>
                        <div class="text-center radio-nomination">
                            <input type="radio" name="optradio" ng-click="" required="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wheel">
                            <img src="img/nomination/wheel.png" class="img-responsive">
                            <div class="nomini-name">
                                <p class="text-center">car</p>
                            </div>
                        </div>
                        <div class="text-center radio-nomination">
                            <input type="radio" name="optradio" ng-click="" required="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wheel">
                            <img src="img/nomination/wheel.png" class="img-responsive">
                            <div class="nomini-name">
                                <p class="text-center">kkk</p>
                            </div>
                        </div>
                        <div class="text-center radio-nomination">
                            <input type="radio" name="optradio" ng-click="" required="">
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="submit-btn text-center">
                <button ng-click="submitVote();">SUBMIT</button>
            </div>
        </div>
    </div>
</div>