<div class="modal-content signup-bg">
    <div class="close-btn" ui-sref="home">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
    </div>
    <div class="modal-header text-center">
    </div>
    <div class="modal-body thankyou">
        <div class="text-center thank-border">
            <!--<div class="thumb">
                <img src="img/icon/thumbs-up.png" class="img-responsive">
            </div>-->
            <div class="{{animationAdd}}">
                <img src="http://www.overdriveawards.in/img/sidecar.png" alt="" class="pull-right" width="150">
                <h4>YOUR VOTE HAS BEEN
                    <br> REGISTERED!</h4>
                      
            </div>
            <h6 class="thank-vote dis">*You Can Also Vote For {{first}}/{{second}} Of The Year</h6>
        </div>
    </div>
</div>