<div class="modal-content signup-bg">
    <div class="close-btn" ui-sref="home">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
    </div>
    <div class="modal-header text-center">
    </div>
    <div class="modal-body thankyou">
        <div class="text-center">
            <div class="thumb">
                <img src="img/icon/thumbs-up.png" class="img-responsive">
                <!--<i class="fa fa-thumbs-up" aria-hidden="true"></i>-->
            </div>
            <h4>THANK YOU! <br> YOUR VOTE HAS BEEN REGISTERED!</h4>
        </div>
    </div>
</div>