<footer ng-controller="headerCtrl">
    <div class="border-white">
    <div class="container">
            <div class="list-footer">
                <div class="footer-padding">
                    <ul class="footer-list-padd">
                        <li><a du-smooth-scroll="overview" offset="50" du-scrollspy>OVERVIEW</a></li>
                        <li><a du-smooth-scroll="award" offset="50" du-scrollspy>AWARDS CATEGORIES</a></li>
                        <li><a du-smooth-scroll="socialmedia" offset="50" du-scrollspy>SOCIAL MEDIA</a></li>
                        <li><a du-smooth-scroll="games" offset="50" du-scrollspy>LEADERSHIP BOARD</a></li>
                        <li><a du-smooth-scroll="jurors" offset="50" du-scrollspy>JURORS</a></li>
                        <li><a du-smooth-scroll="winnner" offset="50" du-scrollspy>WINNERS</a> </li>
                        <li><a du-smooth-scroll="gallery" offset="50" du-scrollspy>GALLERY</a></li>
                        <li><a du-smooth-scroll="partner" offset="50" du-scrollspy>PARTNERS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-foot">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>
            <!--<div class="col-sm-6 col-xs-6">
                <div class="pull-right wohlig-link">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology.</a></p>
                </div>
            </div>-->
        </div>
    </div>
    </div>
</footer>