<footer ng-controller="footerCtrl">
    <div class="border-white">
    <div class="container">
            <div class="list-footer">
                <div class="footer-padding">
                    <ul class="footer-list-padd">
                        
                        <li><a ng-click="goToAnchor('home','overview');" >OVERVIEW</a></li>
                        <li><a ng-click="goToAnchor('home','award');">AWARDS CATEGORIES</a></li>
                        <li><a ng-click="goToAnchor('home','socialmedia');">SOCIAL MEDIA</a></li>
                         <li><a ng-click="goToAnchor('home','games');">VIDEOS</a></li>
                        <li><a ng-click="goToAnchor('home','jurors');">JURORS</a></li>
                        <li><a ng-click="goToAnchor('home','winnner');">WINNERS</a> </li>
                        <li><a ng-click="goToAnchor('home','gallery');">GALLERY</a></li>
                        <li><a ng-click="goToAnchor('home','partner');">PARTNERS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-foot">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>
            <!--<div class="col-sm-6 col-xs-6">
                <div class="pull-right wohlig-link">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology.</a></p>
                </div>
            </div>-->
        </div>
    </div>
    </div>
</footer>