<img ng-src="img/gif/header-banner.gif" class="img-responsive h_bannerimg">
<header hide-on-scroll ng-controller="navCtrl">

    <!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
    <nav class="navbar navbar-default navbar-inverse cust-nav">

        <div class="container_fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-blur="navblur()" data-toggle="collapse" data-target="#nav-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

                <!-- <a class="navbar-brand" ui-sref="home"><img src="/img/logo.png" alt="logo" width="20"> </a> -->
            </div>
            <div class="collapse navbar-collapse text-center" id="nav-collapse">
                <div ng-include="template.menu" class="template menu"></div>
            </div>
        </div>
        <div class="nav_highlight">Vote Now</div>
    </nav>
</header>
